body {
    background-color: #f5f5f5;
    --body-padding-y: 100px;
    padding: var(--body-padding-y) 0;
    margin: 0;
}
.wrap {
    display: flex;
    gap: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(100vh - calc(2 * var(--body-padding-y)));
}

.controls {
    display: flex;
    flex-direction: column;
    height: 1000px;
    gap: 30px;
}

.players {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}
.players select, option {
    font-size: 1.5rem
}
.players label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.3rem;
}
.buttons * {
    font-size: 1.3rem;
}
.buttons input {
    width: 100px;
    text-align: end;
}

.console {
    flex: 1;

}
.console textarea {
    height: 100%;
    font-size: 18px;
}

.board-container {

    --cell-size: 65px;
    --stone-size: 45px;

    display: grid;
    grid-template-columns: 30px repeat(15, var(--cell-size));
    grid-template-rows: 30px repeat(15, var(--cell-size));

    background-color: #DEB887; /* 나무색 배경 */
    border: 2px solid #8B4513; /* 짙은 나무색 테두리 */
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: transparent; /* 투명 배경 */
    border: 1px solid #8B4513; /* 짙은 나무색 선 */
    box-sizing: border-box;
    position: relative;
}

.row-label, .col-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.stone {
    width: var(--stone-size);
    height: var(--stone-size);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.stone.black {
    background-color: black;
}
.stone.white {
    background-color: white;
    border: 1px solid black;
}
